*.bin
models/
models/*
build/
build-*/
*.o
*.a
*.d
.cache/
.coreml/
.test/
venv/
.venv/
.vs/
.vscode/
.DS_Store
audio/
output/
output/*
.env
csv/*
*.csv
plots/
result/
topic/
data/
data/*
*.png
__pycache__
